
.welcome{
    font-family: ChunkFiveEx, sans-serif;
    margin-bottom: 0.15cm;
    font-weight: lighter;
    color: #1c9aea;
    text-shadow: 0 0 15px antiquewhite;
}


.ETCName{
    font-family: "ChunkFiveEx", sans-serif;
    border-bottom: black solid 3px;
    width: 100px;
    text-align: center;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.enroule{
    font-family: FontinSans, sans-serif;
    width: max-content;
    font-size: 1.4em;
    margin-bottom: 6px;
}

.enroule:before, .enroule:after{
    width: max-content;
    content: " • ";
}

.slogan{
    font-family: "Hagin Medium", sans-serif;
    width: max-content;
    font-size: 1.2em;
}

.contenuAccueil{
    width: 100vw;
    display: flex;
    align-items: center;
}

.contenuAccueil img{
    border-radius: 10px;
    margin-top: 1cm;
    width: 30%;
    box-shadow: 0 0 15px #1c9aea;
}

@media screen and (max-width: 1200px){
    .contenuAccueil img{
        width: 65%;
    }
}